.light-theme {
  --foreground: #282828;
  --focus-outline: #6e6e6e;
  --avatar-background: #3b3b3b;
  --avatar-shadow: rgba(59, 59, 59, 0.4);
  --background: #bbbbbb;
  --accent-background: #dddddd;
  --github: url("../assets/GitHub-Mark-Dark-24px.png");
  --tamtam: url("../assets/tamtam-Dark-24px.png");
  --polytech: url("../assets/polytech-Dark-24px.png");
  --link-primary-color: #0d6efd;
}
