.main-info {
  background: var(--accent-background);
  border-radius: 30px;
  flex: auto;

  /* Children */
  display: flex;
  flex-direction: column;
  justify-content: center;


  &__name {
    font-weight: bold;
    font-size: 62px;
    line-height: 71px;

    margin: 9px 0 0;
  }

  &__position {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

    margin: 1px 0 0;
  }

  &__message {
    font-size: 17px;
    line-height: 20px;
    margin: 10px 0 0 0;
  }
}

