.skills-list-container {
  width: 400px;
  margin: 0 auto;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 14px;
  border-radius: 10px;
  border: solid var(--background) 1px;

  display: flex;
  flex-direction: column;

  &__form {
    padding: 10px;
    border-radius: inherit;
  }
}
