.social__icon {
  width: 24px;
  height: 24px;
  display: block; /* prevent bad height */
}

/* Alternative text after `/` isn't supported by Firefox */

.social__icon_site_github::after {
  content: var(--github); /* / "mariohuq at GitHub";*/
}

.social__icon_site_tamtam::after {
  content: var(--tamtam); /* / "mariohuq at TamTam";*/
}

.social__icon_site_polytech::after {
  content: var(--polytech); /* / "kondraev.de@edu.spbstu.ru";*/
}
