@import "_reset";

// relative from your compiled CSS directory
$fa-font-path: "./assets/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

@import "../common.blocks/light-theme";
@import "../common.blocks/link";
@import "../common.blocks/focusable";
@import "../common.blocks/theme-switcher/theme-switcher";
@import "../common.blocks/card";
@import "../common.blocks/avatar";
@import "../common.blocks/download-button";
@import "../common.blocks/main-info";
@import "../common.blocks/minor-info";
@import "../common.blocks/social";
@import "../common.blocks/social__icon";

// default theme
body {
  --foreground: white;
  --focus-outline: white;
  --avatar-background: #c4c4c4;
  --avatar-shadow: rgba(196, 196, 196, 0.2);
  --background: #444444;
  --accent-background: #222222;
  --github: url("assets/icons/GitHub-Mark-Light-24px.png");
  --tamtam: url("assets/icons/tamtam-Light-24px.png");
  --polytech: url("assets/icons/polytech-Light-24px.png");
  --skill-accent: #00b4e0;
}

html {
  font-family: Helvetica, sans-serif;
}

html, body {
  margin: 0;
}

.skills-list-container {
  width: 400px;
  margin: 0 auto;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 14px;
  padding: 10px 10px 15px;
  border-radius: 6px;

  display: flex;
  gap: 10px;
  flex-direction: column;

  &__form {
    margin: 5px -10px -10px;
    padding: 10px;
    border-radius: inherit;
  }
}

.skills-list {
  display: flex;
  gap: 10px;
  flex-direction: column;

  &:empty{
    &::after {
      margin: 10px auto;
      content: 'No skills yet. Feel free to add them ↓';
    }
  }
}

.skill {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 5px;

  &__name {
    grid-column: 1;
    grid-row: 1;

    font-weight: bold;

    &::after {
      content: var(--skill-name);
    }

    &_in-form::after {
      content: '';
    }
  }

  &__value {
    grid-column: 2;
    grid-row: 1;

    opacity: 0.65;

    &::after {
      content: var(--skill-value);
    }

    &_in-form::after {
      content: '';
    }
  }

  &__progress-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
  }

  &__remove-button-container {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    display: flex;
    align-items: end;
  }
}

.remove-button, .add-button {
  border-radius: 50%;
  border-width: 0;
  color: var(--background);
  background-color: var(--foreground);
  font-size: 1.2em;
  width: 25px;
  height: 25px;
}

.progress-bar {
  background-position: left;
  background-origin: content-box;
  background-clip: content-box;
  background-image: linear-gradient(90deg, var(--skill-accent) var(--skill-value), transparent var(--skill-value));
  box-sizing: border-box;
  height: 15px;
  border-radius: 5px;
  padding: 2px;
  border: 2px solid var(--skill-accent);
}

.skill_form {
  background-color: var(--accent-background);

  &__title {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  &__input {
    color: inherit;
    background-color: inherit;
    font: inherit;
    border-width: 1px;

    &_name {
      display: inline-block;
      width: 190px;
      font-weight: normal;
    }
  }
}

.skill__value_in-form {
  opacity: 1;
}
