@import "_reset";

// relative from your compiled CSS directory
$fa-font-path: "./assets/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

// index.html
@import "../common.blocks/light-theme";
@import "../common.blocks/link";
@import "../common.blocks/focusable";
@import "../common.blocks/theme-switcher/theme-switcher";
@import "../common.blocks/card";
@import "../common.blocks/avatar";
@import "../common.blocks/download-button";
@import "../common.blocks/main-info";
@import "../common.blocks/minor-info";
@import "../common.blocks/social";
@import "../common.blocks/social__icon";

// skills.html
@import "../common.blocks/progress-bar";
@import "../common.blocks/skill/skill";
@import "../common.blocks/skills-button";
@import "../common.blocks/skills-list";
@import "../common.blocks/skills-list-container";

// default theme
body {
  --foreground: white;
  --focus-outline: white;
  --avatar-background: #c4c4c4;
  --avatar-shadow: rgba(196, 196, 196, 0.2);
  --background: #444444;
  --accent-background: #222222;
  --github: url("assets/icons/GitHub-Mark-Light-24px.png");
  --tamtam: url("assets/icons/tamtam-Light-24px.png");
  --polytech: url("assets/icons/polytech-Light-24px.png");
  --skill-accent: #00b4e0;
}

html {
  font-family: Helvetica, sans-serif;
}

html, body {
  margin: 0;
}
